
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #00aaff, #004e92);
  color: rgb(3, 3, 3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 1s;
}

.container {
  width: 90%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 2rem;
}

.tagline {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: #080a0a;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  width: 65%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

.search-box button {
  background: #00d4ff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #0096c7;
}

.weather-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2);
  transition: 0.3s ease;
}

.hidden {
  display: none;
}

.weather-card h2 {
  font-size: 1.8rem;
}

.weather-card p {
  margin-top: 8px;
  font-size: 1rem;

}



/* javascript css */









